%rubik-700 {
   font-family: 'Rubik-Bold', sans-serif;
   font-weight: 700;
}

%rubik-500 {
   font-family: 'Rubik-Medium', sans-serif;
   font-weight: 500;
}

%rubik-400 {
   font-family: 'Rubik-Regular', sans-serif;
   font-weight: 400;
}

$footer:#7b7b7b;