@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.logo {
  display: flex;
  justify-content: space-between;

  &-img {
    padding-right: 15px;
  }
}

.header {
  padding: 45px 0;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &__menu {
    padding-left: 130px;
  }

  &__menu-items {
    display: flex;
    justify-content: space-between;
  }

  &__menu-item+&__menu-item {
    padding-left: 35px;
  }

  &__menu-link {
    font-size: 15px;
    line-height: 12px;
    font-weight: 500;
    color: #436372;
  }
}

.user-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__link {
    background-color: #a3bbc8;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      opacity: 0.8;
    }
  }

  &__corf {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    height: 50px;
    background-color: #fcd7b6;
    border-radius: 25px;
    padding: 0 40px;
    margin: 0 20px;

    &:hover {
      opacity: 0.9;
    }
  }

  &__corf-link {
    position: relative;
  }

  &__corf-link-i {
    padding-left: 25px;
    border-left: 1px solid #fff;
  }

  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
    font-size: 10px;
    line-height: 18px;
    color: #243f4d;
    top: -8px;
    right: -8px;
  }
}

.top {
  &__container {
    max-width: 100%;
    background-color: #edf1f4;
    padding: 30px 0 35px;
    text-align: center;
  }

  &__title {
    font-size: 36px;
    line-height: 24px;
    color: #222933;
    margin-bottom: 12px;
  }
}

.client-list {
  background-color: #fef7f0;
  min-height: 250px;
  display: flex;
  align-items: center;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding: 80px 0 80px;
  border-bottom: 1px solid #a3bbc8;

  &__logo {
    width: 140px;
    margin-bottom: 22px;
  }

  &__contact {
    width: 190px;
  }

  &__adress,
  &__phone,
  &__email {
    display: block;
  }

  &__adress {
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    color: $footer;
  }

  &__phone {
    font-size: 14px;
    line-height: 32px;
    text-transform: uppercase;
    color: $footer;
  }

  &__email {
    font-size: 14px;
    line-height: 32px;
    color: $footer;
  }

  &__title {
    @extend %rubik-700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #1f2044;
    margin-bottom: 14px;
  }

  &__nav {
    width: 120px;
    padding-top: 15px;
    margin-right: 70px;
  }

  &__link {
    font-size: 14px;
    line-height: 32px;
    color: #7b7b7b;
  }

  &__items-form {
    max-width: 270px;
    padding-top: 15px;
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    color: #7b7b7b;
    padding-bottom: 36px;
  }

  &__form {
    display: block;
  }

  &__form-input {
    max-width: 170px;
    width: 100%;
    padding: 14px 10px 14px 10px;
    background-color: #f8d5b6;
    font-size: 12px;
    line-height: 1.2;
    color: #234969;
    border: none;
    box-shadow: 5px 0px 0px 0px rgb(248, 213, 182, 1);
  }

  &__form-btn {
    border: none;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    background-color: #617783;
    padding: 10px 12px 10px 12px;
    cursor: pointer;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;

  &__copy {
    font-size: 14px;
    line-height: 32px;
    color: #7b7b7b;
  }

  &__menu-items {
    display: flex;
  }

  &__menu-item {
    padding-left: 15px;
  }

  &__menu-link {
    font-size: 14px;
    line-height: 32px;
    color: #7b7b7b;
  }

  &__menu-blog {
    padding: 0 15px 0 15px;
    border-right: 1px solid #7b7b7b;
    border-left: 1px solid #7b7b7b;
  }

  &__menu-home {
    padding-right: 15px;
    border-right: 1px solid #7b7b7b;
  }
}

.top-slider {
  min-height: 820px;

  &__inner {
    background-color: #fcd7b6;
    padding-top: 220px;
    background-image: url('../images/slider/252.png');
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 85%;
  }

  &__item {
    display: flex !important;
    justify-content: space-between;
    padding: 0 300px;
  }

  &__title {
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
    font-weight: 500;
    color: #243f4d;
    max-width: 520px;
    margin-bottom: 40px;
  }

  &__text {
    max-width: 360px;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 30px;
    color: #436372;
  }

  &__link {
    @extend %rubik-500;
    width: 200px;
    height: 60px;
    background-color: #a3bbc8;
    font-size: 15px;
    line-height: 12px;
    color: #ffffff;
    padding: 25px;
    display: flex;
    justify-content: space-between;

    &:hover {
      opacity: 0.8;
    }

  }

  &__img {
    padding-top: 50px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    padding: 200px 0 40px;

    li {
      margin: 0 10px;

      button {
        padding: 0;
        @extend %rubik-500;
        font-size: 10px;
        line-height: 12px;
        color: #243f4d;
        width: 30px;
        height: 29px;
        border: none;
        border-radius: 50%;
        opacity: 0.3;
        background-color: #ffffff;
      }

      &.slick-active {
        background-color: #ffffff;
        border-radius: 50%;
      }
    }
  }
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 50px 150px;
  background-color: #fef7f0;

  &__item {
    position: relative;
    margin-left: 100px;

  }

  &__item-img {
    top: 10px;
    left: -65px;
    position: absolute;
  }

  .text {}

  &__item-title {
    @extend %rubik-700;
    font-size: 18px;
    line-height: 40px;
    color: #414141;
  }

  &__item-text {
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #585858;
  }

}

.product {
  padding: 75px 0 80px;

  &__title {
    @extend %rubik-700;
    font-size: 36px;
    line-height: 1.2;
    color: #191919;
    text-align: center;
    margin-bottom: 38px;
  }

  &__menu {
    margin-bottom: 75px;

  }

  &__menu-items {
    display: flex;
    justify-content: center;
  }

  .product__menu-item+.product__menu-item {
    padding-left: 30px;
  }

  &__menu-link {
    @extend %rubik-700;
    line-height: 1.2;
    color: #8b8b8b;
  }

  &__menu-link:hover {
    color: #1a1a1a;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 35px 25px;
    margin-bottom: 185px;
  }
}

.product-item {
  max-width: 270px;
  min-height: 380px;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  border-radius: 10px;
  text-align: center;

  &__img-box {
    position: relative;
    overflow: hidden;
  }

  &__link-box {
    position: absolute;
    bottom: 52px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(300%);
  }

  &__link {
    text-align: center;
    padding-top: 12px;
    margin-left: 15px;
    width: 45px;
    height: 45px;
    background-color: #fff;
    color: #a3bbc8;
    border-radius: 50%;

    &:hover {
      background-color: #a3bbc8;
      border-radius: 50%;
      transition: all .3s;

      path {
        fill: #ffffff;
      }
    }
  }

  &__images {
    margin: 40px auto 70px;
    height: 185px;
    object-fit: scale-down;

  }

  &__title {
    @extend %rubik-500;
    font-size: 16px;
    line-height: 40px;
    color: #243f4d;
  }

  &__price {
    @extend %rubik-700;
    font-size: 16px;
    line-height: 40px;
    color: #a3bbc8;
    margin-bottom: 75px;
  }

  &:hover {
    .product-item__link-box {
      transform: translateY(0);
      transition: all .4s;
    }
  }

}

.features {
  padding-bottom: 100px;

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    width: 870px;
    height: 390px;
    background-color: #feefe2;
    position: relative;
  }

  &__images {
    display: block;
    position: absolute;
    left: 135px;
    bottom: 85px;
  }

  &__content {
    margin: 95px 145px 95px 390px;
    text-align: left;
  }

  &__title {
    @extend %rubik-700;
    font-size: 26px;
    line-height: 32px;
    color: #243f4d;
  }

  &__text {
    color: #243f4d;
    padding: 25px 0;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    height: 60px;
    border: 1px solid #436372;
    border-radius: 5px;
    @extend %rubik-700;
    font-size: 15px;
    line-height: 12px;
    color: #436372;
    padding: 0 20px;
  }
}

.new-design {


  &__title {
    font-size: 36px;
    line-height: 1.2;
    color: #191919;
    text-align: center;
    margin-bottom: 38px;
  }

  &__menu {
    margin-bottom: 75px;
  }

  &__menu-items {
    display: flex;
    justify-content: center;
  }

  &__menu-link {
    @extend %rubik-700;
    line-height: 1.2;
    color: #8b8b8b;
  }

  &__menu-link:hover {
    color: #1a1a1a;
  }



  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 30px;
    padding-bottom: 120px;
  }

  .new-design__menu-item+.new-design__menu-item {
    padding-left: 30px;
  }

  &__item {
    height: 246px;
    width: 370px;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 40px;
    padding-left: 35px;
    padding-right: 155px;
  }

  &__item-alt {
    background-color: #f8f8f8;
    background-position-x: 205px;
  }

  &__text {
    @extend %rubik-700;
    font-size: 20px;
    line-height: 1.2;
    color: #1a1a1a;
    margin-bottom: 15px;
  }

  &__subtitle {
    @extend %rubik-700;
    line-height: 1.2;
    color: #a3bbc8;
  }

  &__video {

    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }
}

.blog {
  background: linear-gradient(to top, #fef7f0 61%, #fff 39%);

  &__title-box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 45px;

  }

  &__title {
    @extend %rubik-700;
    line-height: 1.2;
    font-size: 36px;
    color: #1a1a1a;
  }

  &__title-link {
    @extend %rubik-700;
    line-height: 1.2;
    font-size: 16px;
    color: #262626;
    padding-top: 12px;
    padding-right: 25px;
    position: relative;

    &::after {
      content: "";
      background-image: url('../images/shape.png');
      background-repeat: no-repeat;
      width: 7px;
      height: 12px;
      position: absolute;
      left: 78px;
      top: 15px;
    }

  }

  &__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
  }

  &__item {
    max-width: 370px;
    border-radius: 5px;
    position: relative;
  }

  &__item-link {
    position: absolute;
    width: 103px;
    height: 30px;
    background-color: #a3bbc8;
    border-radius: 15px;
    text-align: center;
    left: 25px;
    top: 234px;
    text-transform: uppercase;
    color: #fff;
  }

  &__item-box {
    padding: 35px 50px 25px 30px;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 5px;
  }

  &__item-titlelink {
    @extend %rubik-500;
    font-size: 18px;
    line-height: 1.2;
    color: #262626;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 16px;
  }

  &__item-info {
    display: flex;
    padding-top: 30px;
    font-size: 12px;
    line-height: 30px;
    color: #222933;
    text-transform: uppercase;
  }

  &__item-date {
    padding-right: 30px;
  }

  &__item-autor {
    color: #222933;
  }

  &__client-list {
    display: flex;
    justify-content: space-between;
    align-items: center;


  }

  &__client-item {

    padding: 75px 50px 90px;

    &:hover {
      opacity: 0.5;
    }
  }
}

.modal {
  padding-top: 120px;
  max-width: 470px;
  margin: 0 auto 120px;

  &__form {
    display: block;
  }

  &__label {
    display: block;
    font-size: 14px;
    line-height: 38px;
    color: #436372;
    margin-bottom: 30px;
  }

  &__input {
    width: 100%;
    height: 60px;
    border: 2px solid #f6f6f6;
    padding: 0 15px;
    font-size: 14px;
    line-height: 48px;
    color: #436372;
    margin-bottom: 30px;
  }

  &__error {
    color: #436372;
    margin-left: 168px;
  }

  &__checkbox {
    border-bottom: 2px solid #f6f6f6;
    padding-bottom: 30px;
  }

  &__text {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: #436372;
    margin-bottom: 30px;
  }

  &__btn {
    width: 100%;
    background-color: #a3bbc8;
    @extend %rubik-500;
    font-size: 18px;
    color: #fffefe;
    padding: 15px 0;
    margin-bottom: 30px;
    border: none;
  }

  &__button {
    border: 2px solid #a3bbc8;
    width: 100%;
    color: #243f4d;
    background-color: #fff;
    padding: 15px 0;
    cursor: pointer;
  }
}

.terms {
  padding: 115px 0;

  &__title {
    @extend %rubik-500;
    font-size: 24px;
    line-height: 40px;
    color: #243f4d;
    margin-bottom: 30px;
  }

  &__list {
    padding-left: 20px;
    margin-bottom: 60px;
    width: 100%;
  }

  &__list-item {
    margin-bottom: 25px;
  }

  &__text {
    color: #243f4d;
    margin-bottom: 25px;
  }

}

.about {
  padding: 115px 0;

  &__inner {
    display: flex;
    justify-content: space-between;

  }

  &__content {
    max-width: 560px;
    width: 100%;
    padding: 80px 0;
  }

  &__topcontent {
    display: flex;
    align-items: center;
    max-width: 270px;
    margin-bottom: 50px;

  }

  &__toptitle {
    @extend %rubik-700;
    font-size: 140px;
    line-height: 32px;
    color: #a3bbc8;
  }

  &__toptext {
    color: #243f4d;
    padding-left: 25px;
    padding-top: 25px;
  }

  &__info {
    padding-bottom: 65px;

  }

  &__title {
    @extend %rubik-700;
    font-size: 36px;
    line-height: 32px;
    color: #243f4d;
    margin-bottom: 50px;
  }

  &__text {
    color: #243f4d;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    max-width: 530px;
    border-top: 3px solid #e9edf3;
    padding-top: 40px;
    position: relative;
  }

  &__item {
    padding-left: 50px;
  }

  &__item--project::after {
    content: "";
    position: absolute;
    background-image: url('../images/icons/1.svg');
    width: 39px;
    height: 40px;
    left: 0;
    top: 46px;
  }

  &__item--project {
    border-right: 1px solid #e7ebf1;
    padding-right: 35px;
  }

  &__item--revenue::after {
    content: "";
    position: absolute;
    background-image: url('../images/icons/2.svg');
    width: 46px;
    height: 42px;
    left: 205px;
    top: 46px;
  }

  &__item--revenue {
    border-right: 1px solid #e7ebf1;
    padding-right: 25px;
  }

  &__item--awards::after {
    content: "";
    position: absolute;
    background-image: url('../images/icons/3.svg');
    width: 45px;
    height: 44px;
    right: 80px;
    top: 46px;
  }

  &__numbers {
    @extend %rubik-700;
    font-size: 36px;
    line-height: 38px;
    color: #243f4d;
  }

  .about__item span {
    display: block;
    @extend %rubik-700;
    color: #4c4c4c;
    line-height: 17px;
  }
}

.widget {
  padding: 80px 0;
  margin-bottom: 115px;
  background-color: #fcd7b6;

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    text-align: center;
    position: relative;
    max-width: 185px;
    width: 100%;

    &::before {
      position: absolute;
      content: "";
      width: 35px;
      height: 35px;
      background-color: #a3bbc8;
      border-radius: 50%;
      top: 35px;
      left: 100px;
      opacity: .8;
    }
  }

  &__item--product {
    padding-top: 20px;
  }

  &__img {
    display: inline-block;
    padding-bottom: 20px;

  }

  &__title {
    font-size: 36px;
    line-height: 32px;
    font-weight: 700;
    color: #243f4d;
    padding-bottom: 20px;
  }

  &__text {

    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
    color: #243f4d;
  }
}

.team {
  padding-bottom: 180px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    max-width: 305px;
    width: 100%;
  }

  &__title {
    @extend %rubik-700;
    font-size: 36px;
    line-height: 32px;
    color: #243f4d;
  }

  &__text {
    color: #243f4d;
    margin: 35px 0;
  }

  &__link {
    padding: 15px 60px 15px 15px;
    background-color: #a3bbc8;
    border-radius: 5px;
    color: #fff;
    @extend %rubik-500;
    position: relative;

    &::after {
      content: "";
      background-image: url('../images/arrow.svg');
      width: 17px;
      height: 15px;
      position: absolute;
      top: 17px;
      right: 25px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px 30px;
  }

  &__item {
    position: relative;
    max-width: 370px;
  }
}

.namebox {
  position: absolute;
  min-width: 325px;
  left: 0;
  bottom: -65px;
  background-color: #ffffff;
  box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
  display: flex;

  &__info {
    padding: 25px 60px 25px 25px;
  }

  &__name {
    @extend %rubik-700;
    font-size: 22px;
    line-height: 26px;
    color: #436372;
    margin-bottom: 15px;
  }

  &__text {
    color: #565872;
  }

  &__social-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__social-link {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    background-color: #f6f6f6;
    border-radius: 50%;
    position: relative;
  }

  &__social-icon {
    position: absolute;
    top: 9px;
    left: 10px;
  }
}

.product {
  padding: 115px 0;

  &__inner {
    display: flex;
  }

  &__filters {
    width: 270px;
  }
}

.filter {
  &__item {
    margin-bottom: 50px;
  }

  &__title {
    color: #243f4d;
    font-size: 18px;
    font-weight: 700;
    padding-right: 60px;
    position: relative;
    margin-bottom: 25px;
    text-transform: uppercase;
    display: inline-block;

    &::after {
      content: "";
      width: 39px;
      height: 3px;
      background-color: #a3bbc8;
      border-radius: 1px;
      position: absolute;
      right: 4px;
      top: 12px;
    }

  }
}

.filter-category {

  &__label {
    display: block;
    cursor: pointer;
    margin-bottom: 2px;
  }

  &__input {
    @extend %input;

    &:checked+.filter-category__checkbox {
      background-color: #edf1f4;
      border-radius: 5px;
    }

  }

  &__checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #243f4d;
    padding: 8px 22px 8px 10px;
  }
}

.filter-brand {
  &__label {
    display: block;
    cursor: pointer;
    margin-bottom: 2px;
  }

  &__input {
    @extend %input;

    &:checked+.filter-brand__checkbox {
      background-color: #edf1f4;
      border-radius: 5px;
      color: #243f4d;
    }

  }

  &__num {
    color: #b3b3b3;
  }

  &__checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #243f4d;
    padding: 6px 22px 6px 10px;
  }

}

.filter-price {

  &__label {
    line-height: 43px;
  }

  &__to {
    margin-left: 120px;

    &::before {
      content: "$";
    }
  }
}

.irs--flat .irs-line {
  top: 25px;
  height: 4px;
  background-color: #e1e4e9;
  border-radius: 4px;
  width: 270px;
  height: 3px;
  opacity: 0.65;
  background-color: #a3bbc8;
  border-radius: 1px;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  display: none;
}

.irs--flat .irs-bar {
  top: 24px;
  height: 6px;
  background-color: #a3bbc8;
  border-radius: 0.4px;
}

.irs--flat .irs-handle {
  position: absolute;
  display: block;
  top: 20px;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  background-color: #a3bbc8;
}

.irs--flat .irs-handle>i:first-child {
  display: none;
  background-color: #a3bbc8;
}

.filter-product {
  &__item {
    display: flex;
    margin-bottom: 20px;
  }

  &__img {
    margin-right: 18px;
    width: 55px;
  }

  &__images {
    height: 72px;
    margin: 0 auto;
  }

  &__rating-title {
    color: #333333;
    line-height: 15px;
  }

  &__star {
    padding: 10px 0;
  }

  &__price {
    color: #333333;
    line-height: 27px;
  }
}

.product-content {

  &__inner {
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // grid-gap: 35px 25px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 65px;
  }

  .product-item {
    height: 430px;
    width: 270px;
    margin-bottom: 35px;

    &__price {
      margin-bottom: 0;
    }
  }

}

.product-item--list {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  min-height: 530px;
  margin-left: 30px;

  .product-item__img-box {
    height: 530px;
    min-width: 370px;
    background-color: rgba(255, 255, 255, 0.96);
    border: 2px solid #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-item__images--list {
    object-fit: cover;
  }

  .product-item__wrapper-box {
    text-align: left;
    padding: 80px 60px 70px 60px;
    position: relative;
  }

  .product-item__list-rating {
    width: 410px;
  }

  .list-title {
    font-size: 40px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
    margin-bottom: 22px;
  }

  .product-item__text {
    color: #243f4d;
  }

  .product-item__price {
    font-size: 30px;
    line-height: 45px;
    font-weight: 400;
    color: #333333;
    margin-bottom: 35px;
  }

  .product-item__star {
    margin-bottom: 30px;
  }

  .product-item__link-box {
    transform: none;
    position: absolute;
    bottom: 70px;
    right: 305px;
  }

  .product-item__link--line {
    display: none;
  }

  .product-item__link {
    margin-left: 10px;
    border-radius: 0;
    width: 50px;
    height: 50px;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);

    &:hover {
      background-color: #a3bbc8;
    }

  }

}

.product-one {
  padding: 115px 0;

  &__inner {
    display: flex;
  }

  &__content {
    width: 530px;
    margin-top: 30px;
    text-align: left;
  }

  &__title {
    font-size: 40px;
    line-height: 26px;
    color: #333333;
    margin-bottom: 20px;
  }

  &__star {
    padding: 0;
    margin-bottom: 25px;
  }

  &__price {
    font-size: 30px;
    line-height: 45px;
    color: #333333;
    margin-bottom: 30px;
  }

  &__text {
    color: #243f4d;
    margin-bottom: 30px;
  }

  &__item-btn {
    background-color: #a3bbc8;
    border-radius: 5px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    color: #ffffff;
    border: none;
    padding: 10px 50px;
    margin-left: 15px;
  }

  .jq-number__field {
    width: 150px;
    border: 1px solid #a3bbc8;
  }

  .jq-number__field input {
    width: 50px;
    height: 48px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    color: #333;
    border-left: 1px solid #a3bbc8;
    border-right: 1px solid #a3bbc8;
    transform: translateX(48px);
  }

  .jq-number {
    padding: 0;
    position: relative;
  }

  .jq-number__spin {
    position: absolute;
    cursor: pointer;
    width: 15px;
    height: 15px;
    top: 50%;
    transform: translateY(-50%);
  }

  .jq-number__spin.minus {
    left: 18px;
  }

  .jq-number__spin.plus {
    right: 18px;
  }

  .jq-number__spin::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    background-color: #333;
    width: 15px;
    height: 1px;
  }

  .jq-number__spin.plus::before {
    content: "";
    position: absolute;
    top: 0;
    left: 7px;
    background-color: #333;
    width: 1px;
    height: 15px;
  }

  .product-info {
    margin-top: 56px;

    &__item {
      display: flex;
      color: #243f4d;
    }

    &__title {
      margin-right: 5px;
    }

    &__text {
      a {
        color: #243f4d;
      }
    }
  }

  .product-slide {
    display: flex;

    &__thumb {
      width: 140px;
      margin-right: 25px;

    }

    &__thumb-item {
      width: 140px;
      height: 160px;
      margin-bottom: 12px;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.96);
      border: 2px solid #f2f2f2;

      img {
        width: 140px;
        height: 160px;
        object-fit: cover;
      }
    }

    &__big {
      width: 390px;
      margin-right: 70px;
    }

    &__big-item {
      width: 390px;
      height: 530px;
      padding: 60px 75px;
      background-color: rgba(255, 255, 255, 0.96);
      border: 2px solid #f2f2f2;

      img {
        width: 240px;
        height: 405px;
        object-fit: contain;
      }
    }
  }
}




@import 'media';